















.item-card:hover {
    transform: scale(1.05);
}

.item-name {
    font-size: 1.5em;
    margin: 0;
}

.item-price {
    color: #198653;
    font-size: 1.2em;
}


.item-card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    border: 5px solid #198653;
    object-fit: cover;
}

.filter-options {
    position: sticky;
    top: 0;
}
