body {
    margin: 0;
    padding-bottom: 100px;
}

.cart-container {
    margin: 50px;
}

.cart-item {
    border-radius: 8px;
    background-color: white;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 10px;
    width: calc(33% - 60px);
    transition: transform 0.2s;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
}

.cart-item img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    border: 5px solid #198653;
    object-fit: cover;
}

.cart-item h4 {
    color: #6c757d;
    margin-bottom: 5px;
}

.cart-item .price {
    color: #198653;
    font-size: 1.2em;
}

.cart-item button {
    background-color: #5cb85c;;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-item button:hover {
    background-color: #4cae4c;
    border-color: #4cae4c;
}

.cart-item .remove-btn {
    margin-top: 10px;
}

#cart-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}


#checkout-button {
    margin-top: 30px;
    display: none;
    width: 200px;
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: white;
    font-weight: bold;
}

#checkout-button:hover {
    background-color: #4cae4c;
    border-color: #4cae4c;
}

#cart-message {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}


