body {
    margin: 0;
    padding-bottom: 100px;
}

.container {
    margin-top: 40px;
}

/* Table sorting styles */
.sortable {
    cursor: pointer;
}

.sortable:hover {
    text-decoration: underline;
}

.sort-arrow {
    margin-left: 5px;
}

/* Dropdown container for period filter */
.dropdown-container {
    position: relative;
    display: flex;
    align-items: center;
}

.option-button,
.option-button:focus,
.option-button:active{
    background-color: #5cb85c;
    border: #5cb85c;
}

.option-button:hover {
    background-color: #4a944a;
    border: #4a944a;
}

table {
    table-layout: fixed;
    width: 100%;
}

th, td {
    word-wrap: break-word;
    text-align: left;
}

#yearRangeSlider, #priceRangeSlider, #quantityRangeSlider {
    width: 100%;  /* Adjust the slider width */
    margin-bottom: 20px;  /* Add spacing */
}

#advancedFilterContainer {
    margin-top: 20px;
}