.container {
    margin-top: 40px;
}

/* Table sorting styles */
.sortable {
    cursor: pointer;
}

.sortable:hover {
    text-decoration: underline;
}

.sort-arrow {
    margin-left: 5px;
}

.dropdown-container {
    position: relative;
    display: flex;
    align-items: center;
}

#role-filter {
    padding-right: 30px;
    position: relative;
    width: 100%;
}

.filter-arrow {
    position: absolute;
    right: 10px;
    font-size: 16px;
    pointer-events: none;
}

.filter-arrow::before {
    content: "▼";
    font-size: 14px;
    color: #555;
}

table {
    table-layout: fixed;
    width: 100%;
}

th, td {
    word-wrap: break-word;
    text-align: left;
}